

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}


#resultsContainer div {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #fce7f3; 
}

#resultsContainer div:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}


.btn-search:hover {
    background-color: #be185d; 
}

.btn-clear:hover {
    background-color: #b91c1c; 
}


img {
    transition: opacity 0.3s ease;
}

img:hover {
    opacity: 0.9;
}